% The book use a deprecated logger api.
% See the new api config here:
% https://erlang.org/doc/apps/kernel/logger_chapter.html#kernel_config_params
%
% Run and see the log file:
% erl -boot start_sasl -config log
% 1> error_logger:error_msg("This is an error\n").
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
% DIGGING DEEPER:
% https://ferd.ca/erlang-otp-21-s-new-logger.html
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

[{kernel,
  [{logger,
    [{handler, default, logger_std_h,  % {handler, HandlerId, Module,
      #{
        config => #{
          file => "log/erlang.log",
          max_no_files => 10, % Default
          max_no_bytes => 10485760 % 10 MB Default
        },
        level => all % https://erlang.org/doc/man/logger.html#type-level
      }
    }]
  }]
}].
